{% extends "account/base_manage.html" %}
{% load allauth i18n static %}

{% block extra_head %}
    
{% endblock %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<body class="h-screen flex flex-col items-center justify-center relative overflow-hidden bg-[url('{% static 'background.jpg' %}')] bg-cover bg-no-repeat bg-center">
    <div class="relative bg-white p-8 rounded-xl shadow-2xl w-[90%] max-w-md z-10 bg-opacity-95">
        
        <!-- Title -->
        <h1 class="text-3xl font-extrabold text-gray-800 mb-6 text-center">
            {% trans "Sign Out" %}
        </h1>

        <!-- Confirmation Message -->
        <p class="text-center text-gray-600 mb-6">
            {% trans 'Are you sure you want to sign out?' %}
        </p>

        <!-- Sign Out Form -->
        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}" class="space-y-4">
            {% csrf_token %}
            {{ redirect_field }}
            <button type="submit" class="w-full px-4 py-2 bg-orange-500 text-white font-bold rounded-lg hover:bg-orange-600 transition duration-300">
                {% trans 'Sign Out' %}
            </button>
        </form>
    </div>
</body>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
{% endblock %}
