# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files (if using SQLite)
*.sqlite3
db.sqlite3
*.db

# Ignore Django secret files and logs
*.log
*.pot

# Ignore virtual environment (venv)
venv/
venv/*

# Ignore static and media files (if applicable)
staticfiles/
media/

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore Django migrations except __init__.py
**/migrations/*
!**/migrations/__init__.py

# Tailwind / Node
node_modules/
theme/static/css/
theme/static_src/node_modules/
*.css.map